<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ... -->
</head>

<body>
  <header>
    <h1>Thaddeus Thomas</h1>
    <p>Address: 8876 Lipan St, Thornton, CO | Phone: 720-940-3654 | Email: <a
        href="mailto:thaddeus.r.thomas@gmail.com">thaddeus.r.thomas@gmail.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/thomasthaddeus">https://www.linkedin.com/in/thomasthaddeus</a> |
      GitHub: <a href="https://github.com/thomasthaddeus">https://github.com/thomasthaddeus</a></p>
  </header>

  <section id="objective">
    <h2>Objective</h2>
    <p>Detail-oriented and solutions-driven Python Developer ...</p>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <ul>

      <li>Programming Languages: Python, Ruby, Java, C#, C++</li>

      <li>Web Development: Django, Flask, HTML, CSS, JavaScript, Ruby on Rails</li>

    </ul>
  </section>

  <!-- ... -->

</body>

</html>